*, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html * {
    font-family: "Montserrat", sans-serif;
  }
  
  .btn {
    border-radius: 7px;
  }
  
  .main {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#B42222), to(#046241));
    background-image: linear-gradient(to right, #B42222, #046241);
  }
  .main-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: #FFF;
    width: 290px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 12px;
  }
  .main-input--header {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-input--header h2 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-input--body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
    width: 100%;
  }
  
  #button {
    margin-top: 15px;
  }
  
  .logo {
    width: 165px;
  }
  
  @media (min-width: 767px) {
    .main-input {
      width: 100%;
      background: #FFF;
      width: 600px;
      height: 500px;
      border: 1px solid #fff;
      padding: 20px;
      border-radius: 12px;
    }
    .main-input--header {
      width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .main-input--header h2 {
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      margin-top: 15px;
      width: 400px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
    .main-input--body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px 0;
      width: 100%;
    }
    .main-input--body form input {
      width: 300px;
    }
  
    #button {
      margin-top: 15px;
    }
  
    .logo {
      width: 165px;
    }
  }
.modal-header{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#messages{
  width: 100%;
  padding: 30px 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1.7rem;
}