{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <section class="main">
        <div class="main-input">
            <div class="main-input--header">
                <div class="main-input--header-logos">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Red unica logo" class="logo rul" />
                    <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Red unica logo" class="logo acl" />
                </div>
                <h2>¡Bienvenido al módulo de mensajes de acompañándote!</h2>
            </div>
            <div class="main-input--body">
                <form class="d-flex">
                    <input id="form" name="formid" class="form-control me-2 mb-3" type="search" placeholder="# Empleado" aria-label="Search" />
                </form>
                <div class="actionbtns">
                    <button id="button" name="button" type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Solicitar mensajes
                      </button>
                    <button id="button2" name="button2" type="button" class="btn btn-danger mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                         Solicitar KPI' s 
                      </button>
                </div>

            </div>
        </div>
    </section>

    <script>
        async function getData() {
            try{
                const req = await fetch("/id", {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    mode: 'cors',
                    body: JSON.stringify({
                        formid: document.getElementById('form').value
                    })
                })
                const data = await req

                results = document.getElementById('messages')
                results.innerHTML = `<p class="data-results">${await data.text()}<p>`
            }
            catch(err){
                results.innerHTML = `<p class="data-results">No hay mensajes disponibles para este empleado<p>`
            }
        }
        const button = document.getElementById('button')
        button.addEventListener('click', getData)

        async function getData2(){
            try{
                const req = await fetch("/kpis", {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    mode: 'cors',
                    body: JSON.stringify({
                        formid: document.getElementById('form').value
                    })
                })
                const data = await req
                let myJson = JSON.parse(await data.text())
                let myArray = Object.values(myJson)
                let myArray2 = Object.keys(myJson)
                let myArray3 = myArray.map(function(item, index){
                    return `<p class="kpisResult">${myArray2[index]}: ${item}<p>`
                })
                let myArray4 = myArray3.join('')
                results = document.getElementById('kpis')
                results.innerHTML = `<p class="data-results">${myArray4}<p>`
            }
            catch(err){
                results.innerHTML = `<p class="data-results">No hay KPI' s para este empleado<p>`
            }
        }
        const button2 = document.getElementById('button2')
        button2.addEventListener('click', getData2)
    </script>
{% endblock %}